body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

header {
  background: #1e293b;
  padding: 30px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
  background: #1e293b;
  border-radius: 10px;
}

h1, h2 {
  color: #38bdf8;
}

ul {
  list-style-type: square;
}

footer {
  text-align: center;
  padding: 15px;
  background: #020617;
}
